
    <div class="navegation">
        <ul>
            <li>
                
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="text">Home</span>
                </a>        
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="text">Profile</span>
                </a>        
            </li>
            <li class="active">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-comment"></i>
                    </span>
                    <span class="text">Message</span>
                </a>        
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-camara"></i>
                    </span>
                    <span class="text">Photos</span>
                </a>        
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i> 
                    </span>
                    <span class="text">Settings</span>
                </a>        
            </li>
            <div class="indicator"></div>
        </ul>
    </div> 
