<ion-app>
  <ion-button fill="clear" (click)="resena()">
    <img src="assets/img/mapa.jpg" alt="Descripción de la imagen" />
  </ion-button>
  
  <!--Barra navegacion(incompleta ion-tabs)-->
  <ion-tabs> 
    <ion-tab-bar slot="home">
      <ion-tab-button tab="home"  >
        <ion-icon name="home"></ion-icon>
        Mapa
      </ion-tab-button>
      <ion-tab-button tab="reseña" (click)="resena_inv()">
        <ion-icon name="fast-food-outline"></ion-icon>
        Reseñas
      </ion-tab-button>
      <ion-tab-button tab="person" (click)="cuenta_inv()">
        <ion-icon name="person"></ion-icon>
        Cuenta
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  
  
  
  
  
  
    </ion-app>