<ion-content>
  <div class="container-cuenta">
    <!-- Sección del perfil -->
    <ion-card class="profile-card">
      <div class="profile-info">
        <ion-avatar class="avatar">
          <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/05/shrek-2695169.jpg?tf=3840x" />
        </ion-avatar>
        <div class="profile-text">
          <h2>{{nombre}}</h2>
          <h2>{{usuario}}</h2>
          <h2>{{telefono}}</h2>
          <p>Comensal</p>
        </div>
      </div>

    </ion-card>

    <div class="comments-section">
      <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
      <ion-button color="terciary" (click)="home()">Volver</ion-button>
    </div>
  </div>
</ion-content>


