<ion-header>
  <ion-toolbar>
    <ion-title>Reseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="home()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen seleccionada" />
    <ion-card-header>
      <ion-card-title>{{producto}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ingredientes}}</ion-card-content>
  </ion-card>

  <!-- Información del usuario y la reseña en la misma línea -->
  <ion-card-content id="Resena">
    <p>
      <span>Usuario: {{nombre}}</span> - <span>{{usuario}}</span>
    </p>
    <p>Valoración: 
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>   
      <!-- Aquí podrías añadir más estrellas dependiendo de la valoración -->
    </p>
  </ion-card-content>

  <!-- Opinión del usuario -->
  <ion-card-content id="Resena">
    {{opinion}}
  </ion-card-content>
</ion-content>
