<ion-header>
  <ion-toolbar>
    <ion-title>Reseña</ion-title>
  <ion-buttons slot="end">
  <ion-button (click)="home()">Volver</ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/gorilas.jpg" alt="Hamburguesa">
    <ion-card-header>
      <ion-card-title>{{producto}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ingredientes}}</ion-card-content>
  </ion-card>

  <ion-card-content id="Resena">
    <ion-card-content>Usuario: {{nombre}}
    <ion-icon name="star"></ion-icon>

      <ion-textarea>{{opinion}}</ion-textarea>
    </ion-card-content>
  </ion-card-content>

</ion-content>