<ion-app>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="titulos">Gusto's</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-text color="primary">
      <h1 class="titulos">Inicio Sesion</h1>
    </ion-text>
      <ion-item>
        <ion-input type="text" label="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Escribe tu nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="usuario" [(ngModel)]="usuarios" name="usuario" placeholder="Ingrese el usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="contraseña" [(ngModel)]="password" name="contraseña" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="ingresar()">Enviar</ion-button>
  </ion-content>

</ion-app>