<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulos">Gustos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-item>
      <ion-input type="text" label="Email:" name="usuario" [(ngModel)]="usuario"
        placeholder="Ingrese su Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Constraseña:" [(ngModel)]="password" name="password"
        placeholder="Escribe tu contraseña"></ion-input>
    </ion-item>


    <ion-button expand="block" color="primary" (click)="ingresar()">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="block" (click)="setOpen(true)">Registrarse</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Registro</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-input type="text" label="Email:" name="usuario" [(ngModel)]="usuario"
              placeholder="Ingrese su Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" label="Constraseña:" [(ngModel)]="password" name="password"
              placeholder="Escribe tu contraseña"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

</ion-app>