<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulos">Crear</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="home()">Volver</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="page-enquiry">
    <div class="form-container">
      <h2>Crear Reseña</h2>
        <ion-item>
          <ion-label>Producto</ion-label>
          <ion-input type="text" name="producto" [(ngModel)]="producto" placeholder="¿Qué producto probaste?"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label>Ingredientes</ion-label>
        <ion-input type="text" name="ingredientes" [(ngModel)]="ingredientes" placeholder="¿Que ingredentes tenia?"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Valoración en Estrellas </ion-label>
        <ion-select placeholder="Elige un número" interface="popover">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Opinión</ion-label>
        <ion-input type="text" name="opninion" [(ngModel)]="opinion" placeholder="Escribe tu opinión aquí..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Imagen del Producto</ion-label>
        <ion-input type="file" accept="image/*"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="enviar()">Enviar</ion-button>
    </div>
  </ion-content>
  