.page-enquiry {
  background: linear-gradient(to bottom, #f9c98b, #f5b064); // Fondo cálido degradado
  min-height: 100vh; // Asegura que el contenido ocupe al menos la altura de la pantalla
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; // Padding para evitar que los elementos queden pegados a los bordes de la pantalla en dispositivos pequeños

  .form-container {
    width: 100%;
    max-width: 700px;
    background-color: #0c181d; // Fondo del formulario
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      color: #ffffff; // Color del título
      margin-bottom: 20px;
      font-size: 1.5rem; // Asegura que el título sea legible en móviles
      
    }

    ion-item {
      margin-bottom: 20px;
      background: #000000; // Fondo para los elementos ion-item
      border-radius: 10px;
      padding: 10px;
      width: 100%; // Asegura que los ion-item ocupen todo el ancho disponible

      ion-label {
        font-size: 1rem; // Tamaño de texto adaptable
        color: #fffefe; // Color del texto
        width: 100px; // Asegura que el label no se sobreponga
        white-space: nowrap; // Evita que el label se rompa en varias líneas
        margin-right: 10px; // Espaciado entre el label y el input
      }

      ion-select,
      ion-textarea,
      ion-input {
        background-color: #ffffff;
        border-radius: 10px;
        color: #141212;
        width: calc(100% - 110px); // Asegura que los campos se adapten al ancho disponible sin sobrepasar los labels
      }
    }

    ion-button {
      width: 100%;
       // Botón gris
      color: white;
      font-size: 16px;
      border-radius: 10px;
      padding: 10px;
    
      background-color: #211e39;
      
    }
  }
}
