<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="titulos">Hola</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h1>HOLA MUNDO</h1>
  <p class="parrafos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur rerum reprehenderit consectetur commodi quas, necessitatibus provident culpa deleniti harum quisquam, velit esse. Numquam cumque quae quasi eligendi, repudiandae soluta dicta.
  Accusantium eius qui laudantium unde error temporibus ipsum aliquam et aut repudiandae? Corporis maiores, nesciunt exercitationem eveniet, mollitia culpa obcaecati repellendus ea autem animi dolor minus eum nemo magni architecto!</p>
</ion-content> 

</ion-app>