<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="titulos">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>




  
<!--Barra navegacion(incompleta ion-tabs)-->
<ion-tabs> 
  <ion-tab-bar slot="home">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="pin">
      <ion-icon name="pin"></ion-icon>
      Ubicacion
    </ion-tab-button>
    <ion-tab-button tab="person">
      <ion-icon name="person"></ion-icon>
      Cuenta
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>






  </ion-app>