<ion-header>
  <ion-toolbar>
    <ion-title>Reseña</ion-title>
  <ion-buttons slot="end">
  <ion-button (click)="home_inv()">Volver</ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/gorilas.jpg" alt="Hamburguesa">
    <ion-card-header>
      <ion-card-title>Godzilla</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Carne Mechada, mayonesa, palta, mostaza, cebolla, queso, tocino
    </ion-card-content>
  </ion-card>

  <ion-card-content id="Resena">
    <ion-card-content>
      Mauricio Valdivia  <ion-icon name="star"></ion-icon>

      <ion-textarea placeholder="¡Esta hamburguesa es una verdadera basura! No hay otra forma de decirlo. NO LO RECOMIENDO"></ion-textarea>
    </ion-card-content>
  </ion-card-content>

</ion-content>